/* Add custom CSS here */

.no-layer{
  padding-top: 0 !important;
  padding-bottom: 0 !important}

#jArchTitle h1{
  margin: 14px 16px 0;
  line-height: 1.63}

.navside{top: 62px !important}

.navside .primary-action{
  font-weight: 400 !important;
  font-size: 14px;
  padding: 12px 24px !important;}

.navside .primary-action > .gorbeh{
  font-size: 30px;
  padding-left: 12px;}

/* Joqd Overwrites */
.joqd.stack{list-style: none;}

.joqd.elevate-0,
.joqd.elevate-0-hover:hover,
.joqd.elevate-0-click:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important}
