/* Add custom CSS here */

main{padding-top: 62px;}

.no-layer{
  padding-top: 0 !important;
  padding-bottom: 0 !important}

.no-margin{margin: 0;}

#jArchTitle h1{
  margin: 14px 16px 0;
  line-height: 1.63}

.navside{top: 62px !important}

.navside .primary-action{
  font-weight: 400 !important;
  font-size: 14px;
  padding: 12px 24px !important;}

.navside .primary-action > .gorbeh{
  font-size: 30px;
  padding-left: 12px;}

.navside-footer{
  position: absolute;
  right: 0; bottom: 62px;
  width: 100%;
  font-size: 12px;
  padding: 24px;}

footer .loader-wrapper{height: 124px;}

footer .loader-wrapper .loader{
  position: absolute;
  width: 80px; height: 80px;
  left: 0; right: 0;
  margin: auto;}

footer .loader-wrapper .circular{
   animation: rotate 2s linear infinite;
   height: 80px; width: 80px;
   position: relative;}


footer .loader-wrapper .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite,
             color 6s ease-in-out infinite;}

@keyframes rotate{
 100%{
   -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
       -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
@keyframes color{
  100%, 0%{
    stroke: #2196f3;
  }
  40%{
    stroke: #f44336;
  }
  66%{
    stroke: #ffeb3b;
  }
  80%, 90%{
    stroke: #4caf50;
  }
}

main article,
main footer{padding: 12px 64px}

main article p{line-height: 1.8;}

/* Joqd Overwrites */
.navside-container{position: relative;}

.joqd.stack{list-style: none;}

.joqd.elevate-0,
.joqd.elevate-0-hover:hover,
.joqd.elevate-0-click:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important}
